# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
src/location.hh
src/position.hh
src/stack.hh
src/vcd.hh
src/vcd.cc
src/vcd.output
